/* Additional LearningApps.org CSS for all Apps */
i.popup {
    background:#F8F8F8;
    border-radius:1em;
    color:black;
    border:0.1em solid black;
    text-align:center;
    font-size:80%;
    line-height:1.1em;
    font-style:normal;
    vertical-align:middle;
    display:inline-block;
    height:1em;
    overflow:hidden;
    padding:4px;
    cursor:help;
}
i.popup:empty:before{
    content:" ? ";
}
i.popup:after{
    font-style:normal;
    background: #F8F8F8;
    border: 0.2em solid #666;
    border-radius:1em;
    color: #333;
    font-size: 13px;
    line-height:1.2em;
    letter-spacing: 1px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    margin-top: 0;
    padding:0.8em;
    overflow:auto;
    content:attr(text);
    max-width:15em;
    margin-top:-0.9em;
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
    opacity:0;
    pointer-events:none;
}
i.popup:hover:after{
    opacity:1;
}
/* Bootstrap popover panels */
.popover {
    z-index:5500 !important;
}

/* Check button in right lower corner */

#checksolutionBtnPanel, .largeBlueButtonPanel {
  position: absolute;
  position: fixed;
  text-align: right;
  z-index: 5000;
  pointer-events: none;
}
#checksolutionBtnPanel{
  bottom: 1em;
  right: 1em;
}
#checkSolutionBtn, .largeBlueButton {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 1.4em;  
  pointer-events: auto;
  padding: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 5em;
  box-shadow: #333 0px 1px 2px;
  background-color: #36a5eb;
  background-image: -moz-linear-gradient(top, #36a5eb, #2e73d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#36a5eb), to(#2e73d3));
  background-image: -webkit-linear-gradient(top, #36a5eb, #2e73d3);
  background-image: -o-linear-gradient(top, #36a5eb, #2e73d3);
  background-image: linear-gradient(to bottom, #36a5eb, #2e73d3);
  background-repeat: repeat-x;
  border-color: #2e73d3 #2e73d3 #36a5eb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#checkSolutionBtn:hover, .largeBlueButton:hover {
  background-color: #46b5fb;
  background-image: -moz-linear-gradient(top, #46b5fb, #3e83e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46b5fb), to(#3e83e3));
  background-image: -webkit-linear-gradient(top, #46b5fb, #3e83e3);
  background-image: -o-linear-gradient(top, #46b5fb, #3e83e3);
  background-image: linear-gradient(to bottom, #46b5fb, #3e83e3);
}

body > .modal {
  z-index:6000;
}

.MathJax {
  pointer-events:none;
}
.resizeText {
 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
  hyphens: auto;
}

