.MainMenu {
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 0px;
    top: 0px;    
}

.But {
    position: absolute;
    height: 45px;  
    margin-top: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
}
.But>p {
   font: 20px "Monotype Corsiva"; 
   text-align: center;   
   line-height: 20px;
   margin-top: 12px;
}
.But:hover {
    transform: scaleX(1.05) scaleY(1.1);
    border: 1px solid lightblue;
}
.L { left: 10px;}
.n00 { top: 450px; width: 280px;}
.n0 { top: 500px; width: 330px;}
.n1 { top: 550px; width: 380px;}
.n2 { top: 600px; width: 430px;}
.n3 { top: 650px; width: 480px;}
.But.R.n3 { left: 510px;}
.But.R.n2 { left: 560px;}
.But.R.n1 { left: 610px;}
.But.R.n0 { left: 660px;}
.But.R.n00 { left: 710px;}

.Authors {
    position: absolute;
    width: 900px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    left: 50px;
}
.Authors_author {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
.Authors_author:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.YoungBut {
    position: absolute;
    left: -40px;
    top: 50%;
    margin-top: -40px;    
    width: 80px;
    height: 80px;
    font: 20px "Monotype Corsiva";    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;   
    text-align: center;
    border: 5px;
}
.YoungBut:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.KufarBut {
    position: absolute;
    left:960px;
    top: 50%;
    margin-top: -50px;    
    width: 100px;
    height: 100px;
    font: 20px "Monotype Corsiva";    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;   
    text-align: center;
    border: 5px;
}
.KufarBut:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}