.ShowAnim_but{
    position: absolute;
    width: 300px;
    left: 150px;   
    top: 670px;
}
.ShowAnim_but2{
    position: absolute;
    width: 300px;
    left: 550px;    
    top: 670px;
}
.ShowAnim_screen {
    width: 1000px;
    height: 650px;
    overflow: hidden;
}
.ShowAnim {
    overflow: hidden;
}