.AuthorCard_back{
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -200px;
    top: 670px;
}
.AuthorCard_header {
    position: absolute;
    width: 650px;
    left: 325px;
    top: 50px;
}
.AuthorCard_Birth {
    position: absolute;
    width: 650px;
    left: 325px;
    top: 100px;
}
.AuthorCard_Die {
    position: absolute;
    width: 650px;
    left: 325px;
    top: 150px;
}
.AuthorCard_Real {
    position: absolute;
    width: 650px;
    left: 325px;
    top: 200px;
}
.AuthorCard_Bio {
    position: absolute;
    width: 650px;
    left: 325px;
    top: 260px;
    height: 400px;
    white-space: pre-wrap;
    overflow-y: scroll;
}
.AuthorCard_photo {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 50px;
    top: 50px;
}
.AuthorCard_photo_but {
    position: absolute;
    width: 150px;
    left: 25px;
    top: 210px;
}
.AuthorCard_photo_img{
    widows: 100%;
    height: 100%;
}
.AuthorCard_video{
    position: absolute;
    width: 250px;
    height: 187px;
    left: 25px;
    top: 350px;
}