html,body {
  height:100%;
}

body{
  font-family:Arial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent center center no-repeat;
-webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image:url(back.jpg);
}

#wrongAnswerPanel, #finishPanel{
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  z-index:100;
}

#wrongAnswerPanelInner {
  top:150px;
  font-size:40px;
  position:absolute; 
  left:50%; 
  margin-left:-170px; 
  width:340px;
  text-align:center;
}
#finishPanelInner {
  top:80px;
  font-size:30px;
  position:absolute; 
  left:50%; 
  margin-left:-170px; 
  width:340px;
  text-align:center;
}

.colorOverlay {
  width:100%;
  height:100%;
  position:absolute;
  background:white;
  opacity:0.5;
}

#scrollPanel {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:auto;
}
#wrapper {
  box-sizing:border-box;
  position:absolute;
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  z-index:1;
  display:table;
  table-layout: fixed;
}

#questionPanel {
  display:table-cell;
  display:none; /* start value */
  vertical-align:middle;
  text-align:center;
  position:relative;
}

.frage{
 width:84%;
 border-radius:20px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 -o-border-radius:20px;

 -webkit-box-shadow:1px 1px 3px #333;
 -moz-box-shadow:1px 1px 3px #333;
 box-shadow:1px 1px 3px #333;
 border:5px solid #FFF;
 
 background:#615afe;
 background: rgba(120, 100, 250, 0.7); 
 padding:30px;
 text-align:center;
 position:relative;
 display: inline-block;
 font-size:1.25em;
}

.frageInner{
 display:table;
 width: 100%;
 height: 100%;
}
.frageText{
 display: table-cell; 
 text-align:center;
 vertical-align: middle;
 color:white;
 font-weight:bold;
 font-family:Arial;
}

.antwortInner {
 display:table;
 width: 100%;
 height: 100%;
}
.antwort{
 cursor:pointer;
 position:relative;
 padding:10px;

 width:40%;
 min-width:320px; 
 height:20%;
 border-radius:20px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 -o-border-radius:20px;

 -webkit-box-shadow:1px 1px 3px #333;
 -moz-box-shadow:1px 1px 3px #333;
 box-shadow:1px 1px 3px #333;
 border:5px solid white;

 background:#615afe;
 background: rgba(120, 100, 250, 0.7); 
 overflow:hidden;
 display:inline-block;
 margin:2%;
}
.antwortText{
 display: table-cell; 
 vertical-align: middle;
 color:white;
 font-weight:bold;
 font-family:Arial;
 text-align:left;
 width:100%;
}
.antwortLabel{
 display: table-cell; vertical-align: middle;
 color:#ff801a;
 font-weight:bold;
 font-family:Arial;
 font-size:2em;
}

.framePanel{
 background:#615afe;
 border-radius:20px;
 -webkit-border-radius:20px;
 -moz-border-radius:20px;
 -o-border-radius:20px;

 -webkit-box-shadow:1px 1px 3px #333;
 -moz-box-shadow:1px 1px 3px #333;
 box-shadow:1px 1px 3px #333;
 border:5px solid white;
 padding:10px;
 color:white;
}

.button{
 font-size:20px;
 cursor:pointer;
 color:white;
 margin:25px 60px 5px 60px;
}
.button:hover{
 background:#716aff;
 background: rgba(140, 120, 255, 1);   
}

.sidePanel{
background:black;
}
